<!-- <app-computed-signal></app-computed-signal>
<br />----------------------------------------------
<app-computed-signal2></app-computed-signal2>
<br />----------------------------------------------
<app-computed-signal3></app-computed-signal3>
<br />----------------------------------------------
<app-computed-signal4></app-computed-signal4>
<br />----------------------------------------------
<app-computed-signal5></app-computed-signal5>
<br />----------------------------------------------
<app-computed-signal6></app-computed-signal6>
br />-------------------------------------------
<app-computed-signal7></app-computed-signal7> 
<br />--------------------------------------------->

<!-- Conditional Rendering the Component> -->
<!-- @if(componentToggle()){
<app-computed-signal8></app-computed-signal8>
}
<br />
<button (click)="onToggleComponent()">Toggle Component</button>
<br />----------------------------------------------
<app-computed-signal9></app-computed-signal9> 
<app-computed-signal10></app-computed-signal10>
<app-computed-signal11 #computedSignal11></app-computed-signal11>

<div>
  {{ nameChange$ | async }}
</div>-->
<!-- Component with Input Property Binding with InputSignals -->
<app-computed-signal12
  [firstName]="firstName"
  [studentAge]="age"
  [lastName]="lastName"
></app-computed-signal12>
