<app-computed-signal15>
  <!--!if we want to access the "#h1" element in the effect, we can use contentChild to get a reference -->
  <h1 #h1>Computed Signal Example</h1>
  <!--!if we want to access the "#h2" element in the effect, we can use contentChild to get a reference with descendants:true property option-->
  <div>
    <h2 #h2>Computed Signal Example</h2>
  </div>
  <div>
    <!--!we no need to provide a descendants:true property option if we want to
    access the WidgetComponent -->
    <app-widget></app-widget>
  </div>
</app-computed-signal15>
